.main-container {
    background-color: #fafafa;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 0px;
    padding: 0px;
}

.fieldlabel {
    display: block;
    padding-bottom: 4px;
}
.inputfield {
    margin-bottom: 10px;
}

.field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    outline: 1px solid lightgrey;
    padding: 20px;
}

.loginbutton {
    width: 250px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(0, 149, 246, 0.3);
    margin-bottom: 25px;
    margin-top: 15px;
}
.loginbutton:hover {
    cursor: pointer;
    background-color: #0095f6;
}

.line {
    border-bottom: 1px solid lightgray;
    height: 1px;
    width: 250px;
}
